h1 {
    text-align: center;
    padding: 2rem;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg .tg-mk1c {
    background-color: #ffffff;
    border-color: #656565;
    color: #333333;
    text-align: left;
    vertical-align: top;
}
.tg .tg-u3kx {
    background-color: #ffffff;
    border-color: #656565;
    color: #333333;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
 
#return {
    font-weight: bold;
}
#returnToTop {
    margin-bottom: 2rem;
    font-weight: bold;
}

button {
    font-weight: 500 !important;
}